{% extends "angle.html" %}
{% block degree_decimal %}

<h2>Введите градусы в десятичной систуме, что бы перевести их в градусы, минуты, секунды</h2>
<form action="angle" method="post">
    <p>
        Градусы в десятичной системе:<br>
        <input name="degree_decimal" type="text" />
    </p>            
    <input type="submit" value="Отправить" />
</form>

{% if deg_init %}
    <h2>Результат:</h2>
        <p>{{deg_init}}&#176;{{min_int}}'{{sec}}"</p>
{% endif %}

{% endblock %}
{% block degree_decimal %}