*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    border-bottom: 1px solid #e2e8f0;
}
.error{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.work{
    color:#F5C30F;
}
.space{
    color:#42756E;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}

.hamb{
    display: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: 0.3s;
    background-color: #101010;
}
.nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475169;
    margin-right: 3rem;
} 

.nav_link:hover{
    color:#7d007d;
}
.nav_link::last-child{
    margin-right: 0;
}

.nav_logo{
    font-size: 2.1rem;
    font-weight: 600;
    display: inline-block;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #482ff7;
}
/* .nav_logo_image .nav_logo{
    background-image: url('../image/logo.png');
    width: 200px;
    height: 200px;
    padding-left: 50px;
} */

input[type=text]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=submit]{
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}
.footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
.footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
}
.footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
}
            
.footer .row a:hover{
    color:#fff;
}
 
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    background: #7d007d;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }
  .row{
    text-align: center; /* Выравниваем текст и иконки по центру */
    padding: 10px; /* Добавляем немного отступов */
    /* background-color: #f0f0f0;  Светлый фон для контраста */
  }
  .social-links {
    margin-top: 10px; /* Отступ от текста копирайта */
}

.social-links a {
    display: inline-block; /* Размещаем ссылки в одну строку */
    margin: 0 5px; /* Отступ между иконками */
}

.social-links img {
    width: 30px; /* Задаем размер иконок */
    height: 30px;
    vertical-align: middle; /* Выравниваем иконки по центру по вертикали */
}






table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }