{% extends "base.html" %}
{% block title %}Конвертер файлов{% endblock %}
{% block content %}

<h2>Конвертировать изображение из одного формата в другой</h2>

<form action="converter_file" method="post" enctype="multipart/form-data">
    <p>
        Выберите изображение для конвертации:<br>
        <label for="converter_file" class="file">Добавить файл</label>
        <input type="file" id="converter_file" name="converter_file" accept="image/jpeg,image/tiff,application/pdf" />
    </p>
    <p>
        <input  class="file" type="checkbox" name="conversion_type" value="jpeg_to_tif" onclick="onlyOne(this)"> JPEG to TIF
    </p>
    <p>
        <input type="checkbox" name="conversion_type" value="tif_to_jpeg" onclick="onlyOne(this)"> TIF to JPEG
    </p>
    <p>
        <input type="checkbox" name="conversion_type" value="pdf_to_jpeg" onclick="onlyOne(this)"> PDF to JPEG
    </p>

    <input type="submit" value="Отправить" />
</form>

<script>
function onlyOne(checkbox) {
    var checkboxes = document.getElementsByName('conversion_type');
    checkboxes.forEach(function(item) {
        if (item !== checkbox) {
            item.checked = false;
        }
    });
}
</script>

{% if grad_init %}
<h2>Результат:</h2>
<p>{{ degree_dec }}</p>
{% endif %}

{% endblock %}