<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link type="image/x-icon" rel="shortcut icon" href="./image/logo.png">
    <title>{% block title %}WorkSpace{% endblock %}</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="http://127.0.0.1:8080/" class="nav_logo nav_logo_image">WorkSpace</a>

        <ul class="nav_menu">
            <li class="nav_item">
                <a href="http://127.0.0.1:8080/" class="nav_link">Главная</a>
            </li>
            <li class="nav_item">
                <a href="http://127.0.0.1:8080/tolerances" class="nav_link">Определение отклонений</a>
                   
            </li>

            <li class="nav_item">
                <a href="http://127.0.0.1:8080/degree" class="nav_link">Конвертор градусов</a>
                <ul>
                    <li class="nav_item">
                        <a href="http://127.0.0.1:8080/degree" class="nav_link">Градусы в десятичную систему</a>
                    </li>
                    <li class="nav_item">
                        <a href="http://127.0.0.1:8080/degree_decimal" class="nav_link">Из десятичной системы в градусы</a>
                    </li>
                </ul>
            </li>

            <li class="nav_item">
                <a href="http://127.0.0.1:8080/convetor_file" class="nav_link">Конвертор файлов</a>
            </li>
        </ul>
    </nav>
    </header>


    <div class="wrapper">

        {% block content %}<h2>Раздел в разработке</h2>{% endblock %}

    <div class="wrapper">

  
    </div>
        <div class="footer">
            <div class="row">
                &#169; Copyright 2025. Made by Andrew Peregudov
                </div>
        </div>
    </div>


    
</body>
</html>