{% extends "base.html" %}
{% block title %}Конвертер файлов{% endblock %}
{% block content %}

<h2>Введите градусы в десятичной систуме, что бы перевести их в градусы, минуты, секунды</h2>
<form action="converter_file" method="post">
    <p>
        Градусы в десятичной системе:<br>
        <input name="degree_decimal" type="text" />
    </p>
    <input type="submit" value="Отправить" />
</form>

{% if grad_init %}
    <h2>Результат:</h2>
        <p>{{degree_dec}}</p>
{% endif %}

{% endblock %}